<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

<!-- TESTIMONIALS -->
<section class="testimonials">
	<div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel">
            {% for item in module.slider_items %}
            <!--TESTIMONIAL 1 -->
            <div class="item">
              <div class="shadow-effect">
                	{% if item.image_field.src %}                    
                    <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}">
                  {% endif %}
                <p>{% inline_rich_text field="cus_content" value="{{ item.cus_content }}" %}</p>
              </div>
              <div class="testimonial-name">{% inline_text field="author_name" value="{{ item.author_name }}" %}</div>
            </div>
            <!--END OF TESTIMONIAL 1 -->
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- END OF TESTIMONIALS -->